ul#file_list { padding: 0; margin: 0; margin-bottom: 10px; }
ul#file_list li { display: block; list-style: none; margin: 5px 0 !important; position: relative; height: 62px; width: 100%; padding: 0 2px !important; }
ul#file_list li div.progressWrapper { border: 2px solid #aaa !important; padding: 0; height: 18px !important; margin-top: 2px; margin-right: 5px; }
div.progressWrapper { background: #fff; }
div.progressContainer { height: 100%; position: relative; background: #fff; }
div.progressBarInProgress { height: 100%; background: #ccc; }
div.queue-file-name { font-size: 12px !important; font-weight: bold; margin: 0; color: #000; padding: 4px 0; }
.progressBarStatus { height: 1em; color: #000; font-size: 11px; position: absolute; top: 0px; left: 5px; }
.progressBarStatus.queued { color: #666; }
.queue-remove-btn { position: absolute; z-index: 10; top: 3px; left: 100%; margin-left: -25px; width: 16px; height: 16px; }
.queue-remove-btn a {display:block;text-indent:-9999em;background:url(../images/cancel.png) no-repeat top left;height:100%;width:16px;}
.queue-remove-btn a:hover {background:url(../images/cancel.png) no-repeat top left !important;}


/* SWFUploadFileField */
div.mainblock {height:185px;}
div.mainblock ul#file_list {
width:260px;
}
div.mainblock ul#file_list li {
border:0;
background:#F0F5FF;
margin-left:-35px;
padding:2px;
border-left:3px solid #aaa;
width:100%;
}
div.mainblock ul#file_list li div.queue-file-name {
width:100px;
overflow:hidden;
}
div.mainblock ul#file_list li div.queue-remove-btn {
text-align:right;
width:35px;
}
div.mainblock ul#file_list li a {
font-size:10px;
}
div.mainblock ul#file_list {
margin-left:-50px;
}
div.mainblock ul#file_list li div.progressWrapper {
width:100px;
background:none;
}
