.edit_link { display: block; margin-bottom: 10px; }

.profile .left { float: left; width: 20%; }
.profile .right { float: right; width: 80%; text-align: left; }
.profile .right .signature { clear: right; text-align: left; }
.profile .nick { display: block; margin-bottom: 10px; font-size: 18px; font-weight: bold; color: #000; }
.profile .nick .on { font-size: 10px; font-weight: normal; color: green; }
.profile .nick .off { font-size: 10px; font-weight: normal; color: gray; }

.lightbox { background: #DCDCDC; padding: 10px; }
.lightbox .images div.thumbnail { float: left; margin-right: 10px; width: 170px; }
.lightbox .images a.thumbnail { display: block; text-align: center; background: #ddd; width: 170px; border: #999 1px solid; }
.lightbox .images a:hover.thumbnail { border-color: #0F3F7A; }