
.lightbox { background: #DCDCDC; padding: 10px; margin-bottom: 15px; }
.lightbox .images div.thumbnail { float: left; margin-right: 5px; margin-bottom: 5px; width: 175px; background: #ccc; text-align: center; }
