.edit_link, .edit_link_50l, .edit_link_50r { display: block; margin-bottom: 10px; }
.edit_link .separator, .edit_link_50l .separator, .edit_link_50r .separator { margin-left: 5px; margin-right: 5px; }
.edit_link_50l { float: left; width: 50%; }
.edit_link_50r { float: right; width: 50%; text-align: right; }

.galleries {}
.galleries .gallery { float: left; background: #333 url(../images/h220.png) repeat-x 0 0; color: #fff; border: 1px solid #333; cursor: pointer; padding: 10px; width: 175px; height: 200px; margin-right: 10px; margin-bottom: 10px; }
.galleries .gallery a.thumbnail { display: block; margin-top: 10px; text-align: center; background: #000; width: 175px; height: 130px; overflow: hidden; border: #999 1px solid; }
.galleries .gallery a:hover.thumbnail { border-color: #0F3F7A; }
.galleries .gallery img.thumbnail { }
.galleries .gallery .edit_link { clear: both; margin: 0; margin-top: 25px; }
.galleries .gallery .date { float: left; width: 85px; margin-top: 2px; }
.galleries .gallery .pics { float: right; width: 80px; text-align: right; margin-top: 2px; }
.galleries .gallery a { color: #fff; }

.lightbox { width: 940px; }
.lightbox .description { margin-bottom: -10px; }
.lightbox .thumbnail_container { float: left; margin-right: 15px; margin-top: 15px; width: 298px; background: #ddd; }
.lightbox .thumbnail_container a.thumbnail { float: left; display: block; margin-right: 9px; text-align: center; background: #ddd; width: 175px; border: #999 1px solid; }
.lightbox .thumbnail_container a:hover.thumbnail { border-color: #0F3F7A; }
.lightbox .thumbnail_container .title { display: block; margin-bottom: 5px; font-size: 11px; font-weight: bold; }
.lightbox .thumbnail_container .comments { display: block; font-size: 10px; }
.lightbox .thumbnail_container .clicks { display: block; font-size: 10px; }
.lightbox .thumbnail_container .edit_image_link { display: block; font-size: 10px; margin-top: 5px; text-decoration: none; }
.lightbox .thumbnail_container .delete_image_link { display: block; font-size: 10px; margin-top: 0px; text-decoration: none; }

.sortables .move { background: #ddd; padding: 5px; margin: 5px; }

#the_image { float: left; width: 100%;  text-align: center; background: #ddd; }

#flashUI { margin-top: 5px; }
#lights_off_overlay { background: #000; }